@page "/"

<div class="flex flex-col lg:flex-row min-h-screen bg-white dark:bg-[#1E1E1E]">
    <div class="@($"fixed inset-0 z-40 backdrop-blur-sm bg-black/30 transition-opacity lg:hidden {(_showSidebar ? "block" : "hidden")}")"
        @onclick="() => _showSidebar = false">
    </div>

    <aside
        class="@($"fixed lg:static z-50 lg:z-10 top-0 left-0 w-72 h-full bg-white dark:bg-[#1E1E1E] transform transition-transform duration-300 ease-in-out {(_showSidebar ? "translate-x-0" : "-translate-x-full")} lg:translate-x-0")">

        <div
            class="flex items-center justify-between px-4 py-3 border-b border-gray-200 dark:border-[#2D2D2D] lg:hidden">
            <h2 class="text-base font-semibold text-gray-800 dark:text-white">@Localizer.Settings_Title</h2>
            <button class="text-sm text-blue-600" @onclick="() => _showSidebar = false">✕</button>
        </div>

        <div class="overflow-y-auto h-full p-4 space-y-4">

            <div class="space-y-3">
                <details
                    class="group bg-gray-100 dark:bg-[#1E1E1E] rounded-lg border border-gray-200 dark:border-[#2D2D2D]"
                    open>
                    <summary
                        class="cursor-pointer px-4 py-2 text-sm font-bold text-gray-800 dark:text-gray-100 flex justify-between items-center">
                        <span>@Localizer.TypeSettings_Title</span>
                        <svg class="w-4 h-4 transition-transform group-open:rotate-180" fill="none"
                            stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </summary>
                    <div class="p-4 space-y-3 border-t border-gray-200 dark:border-[#2D2D2D]">
                        <div class="flex items-center justify-between">
                            <label
                                class="text-xs font-mono text-gray-800 dark:text-gray-200">@Localizer.UseRecords_Label</label>
                            <input type="checkbox" @bind="_conversionOptions.UseRecords"  @bind:after="OnSettingsChanged"
                                class="rounded-sm text-blue-600 dark:bg-gray-700 dark:border-gray-600 focus:ring-blue-400">
                        </div>

                        @if (_conversionOptions.UseRecords)
                        {
                            <div class="flex items-center justify-between">
                                <label
                                    class="text-xs font-mono text-gray-800 dark:text-gray-200">@Localizer.UsePrimaryConstructor_Label</label>
                                <input type="checkbox" @bind="_conversionOptions.UsePrimaryConstructor"  @bind:after="OnSettingsChanged"
                                    class="rounded-sm text-blue-600 dark:bg-gray-700 dark:border-gray-600 focus:ring-blue-400">
                            </div>
                        }

                        <div class="flex items-center justify-between">
                            <label
                                class="text-xs font-mono text-gray-800 dark:text-gray-200">@Localizer.PropertyAccess_Label</label>
                            <select @bind="_conversionOptions.PropertyAccess"  @bind:after="OnSettingsChanged"
                                class="w-32 px-2 py-1 text-xs bg-white text-gray-800 dark:text-white dark:bg-[#1E1E1E] border border-gray-300 dark:border-gray-600 rounded-sm">
                                @foreach (PropertyAccess access in Enum.GetValues(typeof(PropertyAccess)))
                                {
                                    <option value="@access">@access</option>
                                }
                            </select>
                        </div>

                        <div class="flex items-center justify-between">
                            <label
                                class="text-xs font-mono text-gray-800 dark:text-gray-200">@Localizer.ArrayType_Label</label>
                            <select @bind="_conversionOptions.ArrayType" @bind:after="OnSettingsChanged"
                                class="w-32 px-2 py-1 text-xs bg-white text-gray-800 dark:text-white dark:bg-[#1E1E1E] border border-gray-300 dark:border-gray-600 rounded-sm">
                                @foreach (ArrayType arrayType in Enum.GetValues(typeof(ArrayType)))
                                {
                                    <option value="@arrayType">@arrayType</option>
                                }
                            </select>
                        </div>
                    </div>
                </details>

                <details
                    class="group bg-gray-100 dark:bg-[#1E1E1E] rounded-lg border border-gray-200 dark:border-[#2D2D2D]"
                    open>
                    <summary
                        class="cursor-pointer px-4 py-2 text-sm font-bold text-gray-800 dark:text-gray-100 flex justify-between items-center">
                        <span>@Localizer.PropertySettings_Title</span>
                        <svg class="w-4 h-4 transition-transform group-open:rotate-180" fill="none"
                            stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </summary>
                    <div class="p-4 space-y-3 border-t border-gray-200 dark:border-[#2D2D2D]">
                        <div class="flex items-center justify-between">
                            <label
                                class="text-xs font-mono text-gray-800 dark:text-gray-200">@Localizer.AddJsonAttribute_Label</label>
                            <input type="checkbox" @bind="_conversionOptions.AddAttribute"  @bind:after="OnSettingsChanged"
                                class="rounded-sm text-blue-600 dark:bg-gray-700 dark:border-gray-600 focus:ring-blue-400">
                        </div>
                        @if (!_conversionOptions.IsDefaultInitialized)
                        {
                            <div class="flex items-center justify-between">
                                <label
                                    class="text-xs font-mono text-gray-800 dark:text-gray-200">@Localizer.IsNullable_Label</label>
                                <input type="checkbox" @bind="_conversionOptions.IsNullable" @bind:after="OnSettingsChanged"
                                    class="rounded-sm text-blue-600 dark:bg-gray-700 dark:border-gray-600 focus:ring-blue-400">
                            </div>
                        }
                        <div class="flex items-center justify-between">
                            <label
                                class="text-xs font-mono text-gray-800 dark:text-gray-200">@Localizer.IsRequired_Label</label>
                            <input type="checkbox" @bind="_conversionOptions.IsRequired" @bind:after="OnSettingsChanged"
                                class="rounded-sm text-blue-600 dark:bg-gray-700 dark:border-gray-600 focus:ring-blue-400">
                        </div>
                        @if (!_conversionOptions.IsNullable)
                        {
                            <div class="flex items-center justify-between">
                                <label
                                    class="text-xs font-mono text-gray-800 dark:text-gray-200">@Localizer.DefaultValues_Label</label>
                                <input type="checkbox" @bind="_conversionOptions.IsDefaultInitialized"  @bind:after="OnSettingsChanged"
                                    class="rounded-sm text-blue-600 dark:bg-gray-700 dark:border-gray-600 focus:ring-blue-400">
                            </div>
                        }
                    </div>
                </details>

                <details
                    class="group bg-gray-100 dark:bg-[#1E1E1E] rounded-lg border border-gray-200 dark:border-[#2D2D2D]"
                    open>
                    <summary
                        class="cursor-pointer px-4 py-2 text-sm font-bold text-gray-800 dark:text-gray-100 flex justify-between items-center">
                        <span>@Localizer.NamingSettings_Title</span>
                        <svg class="w-4 h-4 transition-transform group-open:rotate-180" fill="none"
                            stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </summary>
                    <div class="p-4 space-y-3 border-t border-gray-200 dark:border-[#2D2D2D]">
                        <div class="flex items-center justify-between">
                            <label
                                class="text-xs font-mono text-gray-800 dark:text-gray-200">@Localizer.UseFileScoped_Label</label>
                            <input type="checkbox" @bind="_conversionOptions.UseFileScoped"
                                class="rounded-sm text-blue-600 dark:bg-gray-700 dark:border-gray-600 focus:ring-blue-400">
                        </div>
                        <div class="flex flex-col space-y-2">
                            <label
                                class="text-xs font-mono text-gray-800 dark:text-gray-200">@Localizer.Namespace_Label</label>
                            <input type="text" @bind="_conversionOptions.Namespace"
                                class="w-full px-2 py-1 text-xs bg-white text-gray-800 dark:text-white dark:bg-[#1E1E1E] border border-gray-300 dark:border-gray-600 rounded-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                        </div>
                        <div class="flex flex-col space-y-2">
                            <label
                                class="text-xs font-mono text-gray-800 dark:text-gray-200">@Localizer.RootName_Label</label>
                            <input type="text" @bind="_conversionOptions.RootTypeName"
                                class="w-full px-2 py-1 text-xs bg-white text-gray-800 dark:text-white dark:bg-[#1E1E1E] border border-gray-300 dark:border-gray-600 rounded-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                        </div>
                    </div>
                </details>
            </div>
        </div>
    </aside>

    <div class="flex-1 flex flex-col">

        <header
            class="lg:hidden flex items-center justify-between px-4 py-3 border-b border-gray-200 dark:border-[#2D2D2D] bg-white dark:bg-[#1E1E1E] sticky top-0 z-30">
            <h1 class="text-base font-semibold text-gray-900 dark:text-white">@Localizer.Settings_Title</h1>
            <button class="text-sm font-semibold text-blue-600" @onclick="() => _showSidebar = true">☰</button>
        </header>

        <main class="flex-1 p-4 flex flex-col space-y-4">
            <div class="flex flex-col sm:flex-row sm:justify-between items-center gap-4">
                <FileUpload OnFileUploaded="HandleFileUpload" />

                <div class="flex flex-wrap sm:flex-nowrap gap-2 items-center">
                    <button type="button" aria-label="Copy Code"
                        class="flex items-center justify-center px-3 py-1.5 text-xs font-mono font-semibold rounded-full
                   text-white bg-[#4CAF50] hover:bg-[#3E8E41] transition-colors duration-200 dark:bg-[#4CAF50] dark:hover:bg-[#3E8E41]"
                        @onclick="CopyToClipboard">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-1" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
                        </svg>
                        <span>@Localizer.CopyCode_Button</span>
                    </button>

                    <button id="convert-button" type="button" @onclick="Convert" disabled="@_isConverting"
                        class="@(_isConverting
                                                                                ? "relative flex items-center justify-center gap-2 px-3 py-1.5 text-xs font-mono font-semibold rounded-full text-white bg-[#388A34] dark:bg-[#388A34] disabled:opacity-70 disabled:cursor-not-allowed"
                                                                                : "relative flex items-center justify-center gap-2 px-3 py-1.5 text-xs font-mono font-semibold rounded-full text-white bg-[#007ACC] hover:bg-[#388A34] dark:bg-[#007ACC] dark:hover:bg-[#388A34] disabled:opacity-70 disabled:cursor-not-allowed")">

                        @if (_isConverting)
                        {
                            <svg class="animate-spin w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                                </circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
                            </svg>
                        }

                        <span>@(_isConverting? Localizer.Converting_Label: Localizer.Convert_Button)</span>
                    </button>

                    @* <button id="convert-button" type="button" @onclick="ConvertToJson" disabled="@_isConverting"
                        class="@(_isConverting
                                                                                ? "relative flex items-center justify-center gap-2 px-3 py-1.5 text-xs font-mono font-semibold rounded-full text-white bg-[#388A34] dark:bg-[#388A34] disabled:opacity-70 disabled:cursor-not-allowed"
                                                                                : "relative flex items-center justify-center gap-2 px-3 py-1.5 text-xs font-mono font-semibold rounded-full text-white bg-[#007ACC] hover:bg-[#388A34] dark:bg-[#007ACC] dark:hover:bg-[#388A34] disabled:opacity-70 disabled:cursor-not-allowed")">

                        @if (_isConverting)
                        {
                            <svg class="animate-spin w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                                </circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
                            </svg>
                        }

                        <span>@(_isConverting? "Converting to Json ...": "Convert to JSON")</span>
                    </button> *@

                </div>

            </div>

            <div class="flex flex-col lg:flex-row gap-4 flex-1">
                <div class="w-full lg:w-1/2 flex flex-col">
                    <label
                        class="text-sm font-mono font-semibold text-gray-800 dark:text-gray-200 mb-2">@Localizer.JsonEditor_Label</label>
                    <StandaloneCodeEditor @ref="_jsonEditor" Id="json-editor"
                        OnDidChangeModelContent="OnJsonDidChangeModelContent"
                        ConstructionOptions="@((editor) => CreateEditorOptions("json"))"
                        CssClass="flex-1 h-[50vh] lg:h-[calc(100vh-12rem)] rounded-sm border border-gray-300 dark:border-[#2D2D2D]" />
                </div>
                <div class="w-full lg:w-1/2 flex flex-col">
                    <label
                        class="text-sm font-mono font-semibold text-gray-800 dark:text-gray-200 mb-2">@Localizer.CsharpEditor_Label</label>
                    <StandaloneCodeEditor @ref="_csharpEditor" Id="csharp-editor"
                        OnDidChangeModelContent="OnCsharpDidChangeModelContent"
                        ConstructionOptions="@((editor) => CreateEditorOptions("csharp"))"
                        CssClass="flex-1 h-[50vh] lg:h-[calc(100vh-12rem)] rounded-sm border border-gray-300 dark:border-[#2D2D2D]" />
                </div>
            </div>
        </main>
    </div>
</div>